{{!--  <!-- Footer Section --> --}}


<footer class="site-footer">
  <!-- Left: About the Project -->
  <div class="footer-left">
    <h3>About this project</h3>
    <p>
      URL Shortner is a simple URL shortening app built using Node.js, Express, MongoDB, and Handlebars. It allows users to shorten long URLs and track clicks.
    </p>
  </div>

  <!-- Center: Logo -->
  <div class="footer-center">
    <a href="/">
      <img src="/public/img/url_logo_alt.png" alt="URL Shortener Logo" class="footer-logo-img" />
    </a>
    {{!-- <h2 class="footer-logo-text">URL SHORTNER</h2> --}}
  </div>

  <!-- Right: Quick Links -->
  <div class="footer-right">
    <h3>Quick Links</h3>
    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="https://piyushk-t.github.io/3d-portfolio-website/" target="_blank">3D PORTFOLIO WEBSITE</a></li>
    </ul>
  </div>
</footer>
