<!-- Footer Section -->
<!-- Footer Section -->
<footer>
  <div class="footer-logo">
    {{!-- <img src="/public/images/logo_light.png" alt="Logo"> --}}
  </div>
  <div class="footer-content">
    <p>About this project...</p>
    <div class="quick-links">
      <h4>QUICK LINKS</h4>
      <ul>
        <li><a href="/home">HOME</a></li>
        <li><a href="https://piyushk-t.github.io/3d-portfolio-website/">MY PORTFOLIO</a></li>
      </ul>
    </div>
    </div>
</footer>