<header>
  <nav class="navbar">
    <div class="logo">
      <a href="/"><img src="" alt="URL Shortner"></a>
    </div>
    <ul class="nav-links">

      {{!-- if logged in --}}
      {{!-- {{#if user}} --}}
      <li><a href="/dashboard">DASHBOARD</a></li>
      <li><a href="/logout">LOGOUT</a></li>
      {{!-- {{/if}} --}}

      {{!-- not logged in --}}
      {{!-- {{#unless user}} --}}
      {{!-- {{#unless onLoginPage}} --}}
      <li><a href="/login">LOGIN</a></li>
      {{!-- {{/unless}} --}}

      {{!-- {{#unless onSignupPage}} --}}
      {{!-- <div class="signupbutton"> --}}
      {{!-- <li><a href="/signup">SIGN UP</a></li> --}}
      <li><a href="/signup" class="signup-btn">SIGNUP</a></li>
      {{!-- {{/unless}}
      {{/unless}} --}}
      {{!-- </div> --}}
    </ul>
  </nav>
  {{!-- <div id="user-data" data-user='{{{json user}}}'></div> --}}
</header>