<header>
  <nav class="navbar">
    <div class="logo">
      <a href="/"><img src="/public/img/url_logo_org.png" alt="URL Shortner"></a>
    </div>
    <ul class="nav-links">

      {{!-- if logged in --}}
      {{#if user}}
        <span>WELCOME, {{user.username}}</span>
        <li><a href="/logout" class="logout-btn">LOGOUT</a></li>
      {{else}}
        <li><a href="/login">LOGIN</a></li>
        <li><a href="/signup" class="signup-btn">SIGN UP</a></li>
      {{/if}}
    </ul>
  </nav>
</header>