<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>URL Shortner</title>

  <link rel="stylesheet" href="/public/css/main.css">
  {{!-- <link rel="stylesheet" href="/public/css/result.css" /> 
  <link rel="stylesheet" href="/public/css/user.css" />
  <link rel="stylesheet" href="/public/css/dashboard.css" /> --}}
  <link rel="preload" href="{{cssPath}}" as="style">
  <link rel="stylesheet" href="{{cssPath}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="/public/favicon_io/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon_io/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon_io/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
</head>
<body>
  {{> _header}}
  
  <main>
    {{{body}}}
  </main>
  {{> _footer}}

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/public/js/validateForm.js"></script>
  <script src="/public/js/copyLink.js"></script>
  <script src="/public/js/index.js"></script>

</body>
</html>
