.dashboard-container{
  display: flex;
  min-height: 120%;
}

.dashboard-view {
  display: none;
}

.dashboard-view.active {
  display: block;
}

.sidebar{
    margin-right: 5%;
    width: 270px;
    height:inherit;
    background-color: #131a25;
    color: #F1F5F9;
    display: flex;
    flex-direction: column;
}

.sidebar-title,
.heading-secondary-dashboard{
    font-size: 30px;
    padding: 20px;
    align-self: center;
    color: #F97316;
}

.menu{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0s;
}

.menu-link{
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #F1F5F9;
    font-size: 16px;
    background-color: transparent;
    border: none;
    border-top: 1px solid #475569;
    border-bottom: 1px solid #475569;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.menu-link:hover {
  background-color: #0EA5E9;
  color: #1F2937;
  font-weight: bold;
}

.menu-link.active {
  background-color: #0284C7;
  color: #F1F5F9;
  font-weight: bold;
}

.logout{
    color: #F97316;
    transition: color 0.3s;
    border-top: 1px solid #475569;
}

.logout:hover{
    color: #8b420e;
}

.dashboard-main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #1E293B;
  margin-top: -5%;
}

/* FORM SECTION */
.user-form {
  background-color: #334155; 
  width: 100%;
  max-width: 600px;
  padding: 70px;
  border-radius: 15px;
  margin-left: -10%;
  margin-bottom: 20%;
  height: 120%;
}

.user-form label {
  display: block;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 10px;
  padding-bottom: 2%;
}

.user-form p {
  font-size: 18px;
  color: #CBD5E1;
  margin-bottom: 10px;
}

.user-form input[type="url"] {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: #475569; 
  color: #F1F5F9;
  margin-bottom: 20px;
  outline:none;
}

.user-form button {
  padding: 12px 25px;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  background-color: #0EA5E9;
  color: #1F2937;
  cursor: pointer;
  float: right;
  transition: background-color 0.3s, color 0.3s;
}

.user-form button:hover {
  background-color: #0284C7;
  color: #F1F5F9;
}

 .short-url-box {
  background-color: #334155; 
  width: 100%;
  max-width: 600px;
  padding: 70px;
  border-radius: 15px;
  margin-left: -10%;
  margin-top: -15%;
}
.hidden {
  display: none;
}

.short-url-box button {
  padding: 12px 25px;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  background-color: #0EA5E9; 
  color: #1F2937;
  cursor: pointer;
  float: right;
  margin-top: -7%;
  transition: background-color 0.3s, color 0.3s;
}

.short-url-box button:hover {
  background-color: #0284C7;
  color: #F1F5F9;
}

.link-table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.link-table thead {
  background-color: #475569;
  color: white;
  position: sticky;
  top: 0;
  z-index: 2;
}

.table-wrapper {
  max-height: 50vh;
  overflow-y: auto;
  border: 1px solid #64748B;
  border-radius: 10px;
}

.link-table th,
.link-table td{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #475569;
    text-align: center;
}

.link-table th{
    background-color: #334155;
}

.link-table a{
    color: #0EA5E9;
}

.link-table .copy-button{
  padding: 12px 25px;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  background-color: #0EA5E9; 
  color: #1F2937;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; 
}

.link-table .copy-button:hover {
  background-color: #0284C7;
  color: #F1F5F9;
}

.link-table .delete-button{
 padding: 12px 25px;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  background-color: #e90e0e;
  color: #F1F5F9;
  cursor: pointer;
  transition: background-color 0.3s; 
}

.link-table .delete-button:hover {
  background-color: #860808;
}

.empty-table {
  text-align: center;
  padding: 30px;
  color: #CBD5E1;
  font-size: 18px;
  font-style: italic;
  border-bottom: none;
}
