.dashboard-container{
  display: flex;
  min-height: 120%;
}

.dashboard-view {
  display: none;
}

.dashboard-view.active {
  display: block;
}

.sidebar{
    /* padding: 2%; */
    margin-right: 5%;
    width: 270px;
    height:inherit;
    background-color: #131a25;
    color: #F1F5F9;
    display: flex;
    flex-direction: column;
}

.sidebar-title,
.heading-secondary-dashboard{
    font-size: 30px;
    padding: 20px;
    /* margin-left: 5%; */
    align-self: center;
    color: #F97316;
}

.menu{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0s;
}

.menu-link{
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #F1F5F9;
    font-size: 16px;
    background-color: transparent;
    border: none;
    border-top: 1px solid #475569;
    border-bottom: 1px solid #475569;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.menu-link:hover {
  background-color: #0EA5E9;
  color: #1F2937;
  font-weight: bold;
}

.menu-link.active {
  background-color: #0284C7;
  color: #F1F5F9;
  font-weight: bold;
}

.logout{
    color: #F97316;
    transition: color 0.3s;
    border-top: 1px solid #475569;
}

.logout:hover{
    color: #8b420e;
}

.dashboard-main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #1E293B;
  /* gap: 20px; */
}

/* FORM SECTION */
.user-form {
  background-color: #334155; /* Slate 700 */
  width: 100%;
  max-width: 600px;
  /* margin: 100px 0 40px 350px; */
  padding: 70px;
  border-radius: 15px;
  margin-left: -10%;
  margin-bottom: 20%;
  /* max-height: 400px; */
  height: 120%;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
  /* border: 1px solid #64748B; Slate 500 */
}

.user-form label {
  display: block;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 10px;
  padding-bottom: 2%;
}

.user-form p {
  font-size: 18px;
  color: #CBD5E1; /* Slate 300 */
  margin-bottom: 10px;
}

.user-form input[type="url"] {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: #475569; /* Slate 600 */
  color: #F1F5F9;
  margin-bottom: 20px;
  outline:none;
}

.user-form button {
  padding: 12px 25px;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  background-color: #0EA5E9; /* Primary Button */
  color: #1F2937;
  cursor: pointer;
  float: right;
  transition: background-color 0.3s, color 0.3s;
}

.user-form button:hover {
  background-color: #0284C7;
  color: #F1F5F9;
}

.link-table{
    width: 100%;
    border-collapse: collapse;
}

.link-table th,
.link-table td{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #475569;
}

.link-table th{
    background-color: #334155;
}

.link-table a{
    color: #0EA5E9;
}

.link-table .copy-button{

}