.heading-secondary {
    font-size: 32px;
    font-weight: 300;
    margin-top: 8%;
    margin-left: 42%;
    padding-left: 30px;
    /* align-self: center; */
}

.login-form{
background-color: #334155; /* Slate 700 */
  width: 90%;
  max-width: 700px;
  margin: 20px auto 40px;
  padding: 30px;
  border-radius: 15px;
  max-height: 270px;
  height: 100%;
}